<div class="container mx-auto flex flex-col gap-5">
  <h1 class="text-3xl">
    My Profile
  </h1>

  <h2 class="text-xl"> Email: <%= @account.email %> </h2>
  <div class="form-control w-full" data-controller="clipboard">
    <label class="label">
      <span class="label-text">Host</span>
    </label>
    <div class="input-group w-full">
      <input readonly type="url" value="<%= @host %>" class="input input-bordered w-full" />
      <button id="host-copy-button" type="button" class="btn clipboard-btn" data-action="clipboard#copy">
        Copy ✂️
      </button>
    </div>
  </div>

  <div class="form-control w-full" data-controller="clipboard">
    <label class="label">
      <span class="label-text">API Token</span>
    </label>
    <div class="input-group w-full">
      <input readonly type="password" value="<%= @account.api_token %>" class="input input-bordered w-full" />
      <button id="token-copy-button" type="button" class="btn clipboard-btn" data-action="clipboard#copy">
        Copy ✂️
      </button>
    </div>
  </div>
</div>
