<div id="<%= dom_id hit %>">
  <p>
    <strong>Timestamp:</strong>
    <%= hit.timestamp %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= hit.language %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= hit.project %>
  </p>

</div>
