<div class="container p-5 flex flex-col">
  <h1 class="self-center text-2xl font-bold mb-3">Today hits</h1>
  <div class="overflow-x-auto">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Project</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody id="hits">
        <% @hits.each do |hit| %>
          <%= render partial: 'hits/hit', locals: { hit: Hit.new(hit) } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

