<div class="container p-5 flex flex-col">
  <h1 class="text-3xl mb-3">
    Create Appointment
  </h1>


  <%= render "form", appointment: @appointment %>

  <br>

  <div>
    <%= link_to "Back to appointments", appointments_path %>
  </div>
</div>
